<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Livraria UMA</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
    
</head>

<body>
    <div class="container">
    <header>
        <nav>
            <img src="../public/images/news_logo.png" class="Logotipo" alt="logo livraria UMA">
            <a href="#">HTML-CSS</a>
            <a href="bootstrap.html">Bootstrap</a>
            <a href="JavaScriptExm.html">JavaScript </a>
            <a href="#livros">Livros</a>
        </nav>
    </header>

    <div>
        <h1>Bem-vindo à Livraria UMA</h1>
        <table>
            <tr>
                <td class="color">
                    <h3><u>A</u></h3> 
                </td>
                <td>
                </td>
                <td class="color">
                    <h3><i>É</i></h3>
                </td>
                <td>
                </td>             
            </tr>
            <tr>
                <td>  
                </td>
                <td class="color">
                    <h3><b>UMA</b></h3>
                </td>
                <td>
                </td>
                <td class="color">
                    <h3>NOSSA</h3>
                </td>   
            </tr>
        </table>
    


        <section id="livros" class="row">

            <article class="livros col-md-4">
                <h3>Livro 1</h3>
                <img class="center" src="../public/images/livros/livro1.png" alt="livro 1">
                <p>Descubra os segredos letais do antigo Egito. Quando uma maldição milenar é acidentalmente despertada, a fúria do deus Anúbis ameaça engolir o mundo em trevas. Uma aventura épica repleta de mistérios, magia ancestral e tumbas esquecidas.</p>
                <iframe src="https://www.youtube.com/embed/e-__XX2HEkA?si=WmLnc-B8I-pk0gg2" title="Livro 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho"> Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 2</h3>
                <img class="center" src="../public/images/livros/livro2.png" alt="livro 2">
                <p>Embarque na jornada mais perigosa da humanidade. Nos limites desconhecidos da Nebulosa, a tripulação da Odyssey enfrenta anomalias cósmicas e descobre que não estamos sozinhos. Uma ficção científica eletrizante sobre coragem e sobrevivência.</p>
                <iframe src="https://www.youtube.com/embed/loswEScRKsg?si=ZlHMwKe16XNt7d0I" title="Livro 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 3</h3>
                <img class="center" src="../public/images/livros/livro3.png" alt="livro 3">
                <p>Num reino onde as lendas ganham vida, o último dragão de Eterna desperta. Acompanhe uma jornada fantástica de magia, traição e heroísmo para proteger o legado dos antigos reis antes que o império caia em ruínas.</p>
                <iframe src="https://www.youtube.com/embed/vlVSJ0AvZe0?si=UIyG-bUdE_xeTEXZ" title="Livro 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 4</h3>
                <img class="center" src="../public/images/livros/livro4.png" alt="livro 4">
                <p>Alguns segredos recusam-se a ficar enterrados. Numa casa assombrada pelo seu próprio passado, sussurros nas paredes começam a revelar um mistério mortal. Um thriller psicológico arrepiante que o vai prender da primeira à última página.</p>
                <iframe src="https://www.youtube.com/embed/BCr7y4SLhck?si=ZJFq0qza5OT-JY8O" title="Livro 4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 5</h3>
                <img class="center" src="../public/images/livros/livro5.png" alt="livro 5">
                <p>"O amor pode surgir nos lugares mais improváveis. Entre cestos de roupa e muito sabão em pó, duas almas solitárias descobrem que a vida (e o romance) pode ser caótica, mas incrivelmente divertida e apaixonante.</p>
                <iframe src="https://www.youtube.com/embed/Wq4Y7ztznKc?si=zoDae5XvhmKs-u4D" title="Livro 5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 6</h3>
                <img class="center" src="../public/images/livros/livro6.png" alt="livro 6">
                <p>Uma antiga maldição e um poder indomável. Para salvar o seu mundo, um jovem feiticeiro precisará de dominar magias proibidas e enfrentar os segredos ocultos da lua. Uma fantasia sombria cheia de reviravoltas e feitiços perigosos.</p>
                <iframe src="https://www.youtube.com/embed/QKVSzP_sEU8?si=oT-VKhSLdsuRL8Ob" title="Livro 6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 7</h3>
                <img class="center" src="../public/images/livros/livro7.png" alt="livro 7">
                <p>Prepare-se para a competição culinária mais louca de toda a galáxia! Receitas alienígenas, ingredientes explosivos e muita confusão aguardam nesta aventura espacial hilariante e cheia de sabor, perfeita para todas as idades.</p>
                <iframe src="https://www.youtube.com/embed/umAgdVTBae0?si=5hleacSf7HPehIve" title="Livro 7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>

            <article class="livros col-md-4">
                <h3>Livro 8</h3>
                <img class="center" src="../public/images/livros/livro8.png" alt="livro 8">
                <p>E se pudesse ouvir os sussurros do futuro? Numa metrópole à beira do colapso temporal, a chave para salvar a humanidade está em decifrar os ecos do amanhã. Uma jornada fascinante sobre o tempo, as escolhas e o destino.</p>
                <iframe src="https://www.youtube.com/embed/G7QZR2OWLR0?si=FXdFBFQKMzeqzzhp" title="Livro 8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <button class="dinheirinho">Comprar</button>
            </article>
        </section>

    </div>
    </div>

    <div>
        <footer>Universidade Da Madeira 2025-2026</footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>