<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <title>Livraria UMA</title>
    <link rel="stylesheet" href="../public/CSS/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="index.html">HTML-CSS</a>
            <a href="bootstrap.html">Bootstrap</a>
            <a href="#">JavaScript </a>
            <a href="#livros">Livros</a>
        </nav>
    </header>

    <h1 class="TopG"> Exercisio Javascript </h1>
        <div>
            <button class = "aura" onclick="stringTemplate()">stringTemplate</button>
            <button class = "aura" onclick="comparações()">comparações</button>
            <button class = "aura" onclick="horas()">horas</button>
            <button class = "aura" onclick="arrayManip()">arrayManip</button>
            <button class = "aura" onclick="somaArrays()">somaArrays</button>
            <button class = "aura" onclick="formulaum()">formulaum</button>
        </div>













    <script src="../public/js/JavaScriptExe.js"></script>

</body>
</html>