<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <title>Livraria UMA</title>
    <link rel="stylesheet" href="../public/CSS/style.css">

</head>

<body>
    <header>
        <nav>
            <img src="../public/images/news_logo.png" class="Logotipo" alt="logo livraria UMA">
            <a href="index.html">HTML-CSS</a>
            <a href="bootstrap.html">Bootstrap</a>
            <a href="#">JavaScript </a>
            <a href="#livros">Livros</a>
        </nav>
    </header>

    <h1> Exercisio Javascript </h1>
        <div>
            <button onclick="stringTemplate()">stringTemplate</button>
            <button onclick="comparações()">comparações</button>
            <button onclick="horas()">horas</button>
            <button onclick="arrayManip()">arrayManip</button>
            <button onclick="somaArrays()">somaArrays</button>
            <button onclick="formulaUm()">formulaUm</button>
        </div>













    <script src="../public/js/JavaScriptExe.js"></script>

</body>
</html>